:root {
  --clr-neon: rgb(1, 255, 192);
  --clr-bg: rgba(12, 32, 32, 0.712);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /*
    background-image: url("../res/bg.jpg");
    */
  background-color: var(--clr-sec-bg);
  /*
    background-attachment: fixed;
    */
}

.heading h1
{
  color: var(--clr-neon);
}

select {
  font-size: 20px;
  width: 200px;
  height: 30px;
  background: var(--clr-bg);
  border-radius: 2px;
  color: var(--clr-neon);
  border-color: var(--clr-neon);
  padding-left: 20px;
}